<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesion</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
  <header>

  </header>
  <main>
    <div class="container">
      <h4>Iniciar Sesión</h4>
      <form action="" method="POST">
        {% csrf_token %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert">{{ message.tags }}</div>
          {% endfor %}
        {% endif %}
        {{ form.as_div }}
        <button class="Iniciar">Iniciar Sesion</button>
      </form>
    </div>
  </main>
</body>
</html>