:root {
  --color-principal: #982DCA;
  --color-secundario: #DC5407;
  --color-auxiliar-uno: #FFFFFF;
  --color-auxiliar-dos: #000000;
  --color-logo: #D9D9D9;
  --tamanio-titulos: 32px;
  --tamanio-subtitulos: 24px;
  --tamanio-texto: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-principal);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header .menu-hamburguesa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background-color: transparent;
  /* transition: all .5s ease; */
}

header .menu-hamburguesa__lineas {
  width: 50px;
  height: 6px;
  margin: 4px auto;
  border-radius: 4px;
  background-color: var(--color-secundario);
}

header .contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--color-logo);
}

header .contenedor-logo p {
  font-size: 24px;
  font-weight: bold;
  text-shadow: -1px -1px 0 black;
}

header .contenedor-logo p:nth-child(1) {
  color: var(--color-principal);
}

header .contenedor-logo p:nth-child(2) {
  color: var(--color-secundario);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  padding: 30px 10px;
  background-color: var(--color-principal);
  /* box-shadow: inset 0px 4px 20px -4px black; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner h1 {
  font-size: var(--tamanio-titulos);
  text-align: center;
}

.banner img {
  width: 80%;
}

.descripcion {
  padding: 20px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.descripcion h2 {
  font-size: var(--tamanio-subtitulos);
  margin-bottom: 10px;
}

.descripcion p {
  font-size: var(--tamanio-texto);
}

.promocion-home {
  padding: 40px 10px;
  background-color: var(--color-principal);
  box-shadow: inset 0px 8px 4px -4px rgba(0, 0, 0, 0.25);
}

.promocion-home .promocion-home__contenedor-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promocion-home h2 {
  font-size: var(--tamanio-subtitulos);
  text-align: center;
  margin-bottom: 10px;
}

.promocion-home__contenedor-img img[alt="Dron"] {
  width: 90%;
}

.promocion-home__contenedor-img img[alt="Descuento 25%"] {
  width: 80%;
  margin-top: -65px;
}

.promocion-home button,
.servicios-home button {
  display: block;
  margin: 0 auto;
  padding: 10px 40px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: var(--tamanio-texto);
  font-weight: bold;
  color: var(--color-auxiliar-uno);
  background-color: var(--color-secundario);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.servicios-home {
  padding: 40px 20px;
}

.servicios-home h3 {
  text-align: center;
  margin-bottom: 40px;
  font-size: var(--tamanio-subtitulos);
}

.servicios-home__contenerdor-servicios {
  margin-bottom: 40px;
}

.servicios-home__contenerdor-servicios ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.servicios-home__contenerdor-servicios ul li {
  width: 120px;
  height: 200px;
  padding: 10px;
  list-style: none;
}

.servicios-home__contenerdor-servicios ul .servicio-vacio {
  width: 70px;
  background-color: var(--color-principal);
  filter: blur(2px);
}

.servicios-home__contenerdor-servicios ul .servicio-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--color-secundario);
}

.servicios-home__contenerdor-servicios img[alt="Dron"] {
  width: 90%;
}

.servicios-home__contenerdor-servicios img[alt="Paquete"] {
  width: 80%;
  margin-top: -10px;
}

.servicio-item p {
  margin-top: 20px;
}

.servicios-home button {
  color: var(--color-auxiliar-dos);
  background-color: var(--color-principal);
}

.elegirnos {
  background-color: var(--color-principal);
  padding: 20px 40px;
  color: var(--color-auxiliar-uno);
}

.elegirnos h3 {
  text-align: start;
  margin-left: -20px;
  margin-bottom: 20px;
  font-size: var(--tamanio-subtitulos);
  font-weight: bold;
}

.elegirnos ul li {
  margin-bottom: 20px;
  font-size: var(--tamanio-texto);
}